<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="172.20.11.13" />
    <add key="licenseServer" value="172.20.11.13:30000" />
    <add key="dbuser" value="sa" />
    <add key="dbpassword" value="Pinac45" />
    <add key="companydb" value="SBO_VH_Pruebas" />
    <add key="user" value="manager"/>
    <add key="password" value="ti$vh@"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>