@using OpenShopVHBackend.Properties
@using OpenShopVHBackend.Models;
@model IEnumerable<FeesViewModel>

<div class="page-title">
    <i class="icon-custom-left"></i>
    <h3><span class="semi-bold">@Resources.Quotes</span></h3>
</div>

<div class="row">
    <div class="col-lg-12">
     @(
         Html.EJ().Grid<FeesViewModel>("Grid")
         .Datasource(Model)
         .AllowPaging()
         .AllowResizing(true)
         .AllowSorting(true)
         .AllowFiltering(true)
         .AllowTextWrap(true)
         .Columns(col => {
             col.Field(p => p.FeesId).TextAlign(TextAlign.Left).Add();
             col.Field(p => p.UserName).TextAlign(TextAlign.Left).Add();
             col.Field(p => p.Date).TextAlign(TextAlign.Left).Add();
             col.Field(p => p.Amount).TextAlign(TextAlign.Left).Add();
             col.HeaderText("Options").Template("<a href=./Fees/Edit/{{:FeesId}}>Edit</a>|<a href=./Fees/Delete/{{:FeesId}}>Delete</a>").Add();
         })
      )
    </div>
</div>
