<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Error"
      internalLogFile="..\..\..\nlog-app.log">

  <targets async="true">
    <target name="database" xsi:type="Database" >

      <connectionStringName>DefaultConnection</connectionStringName>

      <commandText>
        INSERT INTO dbo.LogEntries (
        Date,
        Username,
        Level,
        Message,
        Exception,
        Logger,
        CallSite,
        ServerName,
        Port,
        Url,
        RemoteAddress
        ) values (
        @Date,
        @Username,
        @Level,
        @Message,
        @Exception, @Logger, @Callsite,
        @ServerName, @Port, @Url,
        @RemoteAddress
        );
      </commandText>

      <parameter name="@Date" layout="${date}" />
      <parameter name="@Username" layout="${identity}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />

      <parameter name="@Exception" layout="${exception:tostring}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@CallSite" layout="${callsite}" />

      <parameter name="@ServerName" layout="${aspnet-request:serverVariable=SERVER_NAME}" />
      <parameter name="@Port" layout="${aspnet-request:serverVariable=SERVER_PORT}" />
      <parameter name="@Url" layout="${aspnet-request:serverVariable=HTTP_URL}" />

      <parameter name="@RemoteAddress" layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>